

<div id="post" class="post">
<%=render "post" %>
</div>

<div id="infinite">
<%= will_paginate @posts %>
</div>

<script>
window.addEventListener("scroll",async (event) => {

	if((window.pageYOffset|| 0) + (window.innerHeight || 0)  >=Math.max( document.body.scrollHeight, document.body.offsetHeight, 
		document.documentElement.clientHeight, document.documentElement.scrollHeight, document.documentElement.offsetHeight )) {
           
		let next_page= document.querySelector("a[rel='next']")
		if(next_page == null){
			return
		}
		const url= next_page.href 

		
		  
		await fetch(url,{
			method : 'GET',
			headers : {
				'Accept' : 'application/json'
			}
		})
		.then(response => response.json())
		.then(data => {
			
			document.getElementById("post").innerHTML += data.entries;
            document.getElementById("infinite").innerHTML= data.newNav;
            
		});
		
	}
});
</script>