<h1>All posts here</h1>

<% @post.each do |p| %>
 Title:   <%= p.title %><br>
 Decription : <%= p.dec %><br>
 <%= link_to "EDIT" , edit_post_path(p) %>
 <%= link_to "Delete" , post_path(p) , method: :delete , data: {confirm: 'You are to delete a task?' } %><br>
<% end %>